.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-color: transparent !important;
}
.slash{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}
.slash img{
	width: 60%;
}
.btns_navegacion{
	padding-top: 10px;
}
.cerrar_ventana,
.cerrar_ventana:hover,
.cerrar_ventana:active{
	color: white;
}
.cerrar_ventana div{
	text-align: left;
}
.notificacion_row_a,
.notificacion_row_a:hover,
.notificacion_row_a:active,
.pedido_row_a,
.pedido_row_a:hover,
.pedido_row_a:active{
	color:black;
	text-decoration: none;
}
.btns_navegacion a,
.btns_navegacion a:active,
.btns_navegacion a:hover
.menu_inicio,
.menu_inicio:active,
.menu_inicio:hover,
.emergente_a:active,
.emergente_a:hover,
.articulo_carrito:hover,
.articulo_carrito:active{
	color:gray; 
	font-size: 14px; 
	padding-bottom: 5px;
	text-decoration: none;
}
.abrir_menu_lateral,
.abrir_menu_lateral:active,
.abrir_menu_lateral_der,
.abrir_menu_lateral_der:active
{
	color: white;
}

.menu_bar{
	/*background-color: #cc0000; */
	background-color: #C7C7C7;
	padding: 10px;
	height: 10vh;
	color: white;
	display: flex;
    align-items: center;
    justify-content: center;
}
.menu_bar2{
	/*background-color: #cc0000; */
	background-color: #5aad63;
	padding: 10px;
	height: 10vh;
	color: white;
	display: flex;
    align-items: center;
    justify-content: center;
}
.tabla_paso_3 tr td{
	font-size: 16px;
	padding: 0px !important;
}
.tabla_paso_3{
	margin-bottom: 10px !important;
}
.titulo_emergente{
	font-weight: bold;
	font-size: 20px;
}
.emergente_a,.menu_inicio{
	color: #333;
	font-size: 14px;
	display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.contenido_emergente{
	height: 90vh;
	padding: 10px;
	overflow-y: auto;
}
.menu_buscar{
	height: 8vh;
	padding-top: 4px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.menu_dep{
	height: 15vh; 
	overflow-x: auto;
}
.row,body{
	width: 100%; 
	margin: 0px;
}
.btn{
	width: 100%;
}
.form-control{
	border-radius: 0px;
}
/* SEARCH */
.fa-search {
	position: absolute;
	top: 13px;
	margin-left: 26px;
    right: initial;
    left: 0;
    color: black;
}
.input_search {
    padding-left: 34px !important;
}
.tabla_menu{
	width: 100%;
}
.tabla_menu td{
	text-align:center;
	padding-top: 0px;
	padding-bottom: 0px;
}
.descripcion_modal{
	padding-top: 10px;
	font-weight: bold;
	text-align: center;
}
/*
.img_dep{
	border-radius:0px;
	max-width: 100px;
	padding-left: 5px;
	padding-right: 5px;
	color: gray;
	font-size: 10px;
	line-height:120%;
}
.img_dep img{
	height: 10vh;
}
.dep_001{background-color: #FF9700; }
.dep_002{background-color: #D00000 }
.dep_005{background-color: #209800; }
.dep_01{background-color: #0049CA; }
.dep_007{background-color: #000000; }
*/
.tabla_cuenta_sucursal{
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color:gray;
}
/*
.row_articulo{
	padding-left: 6px;
	padding-right: 6px;
}
*/
#contenedor_articulos{
	border-top:solid 1px #DEDEDE;
	border-bottom:solid 1px #DEDEDE;
	height: 82vh; 
	width: 100%; 
	overflow-y: auto;
}
.articulo{
	/*border-radius: 5px;*/
	border-bottom:solid 1px #DEDEDE;
	/*border-color: #DEDEDE;*/
	margin-bottom: 8px;
	padding: 5px;
	/*box-shadow: 1px 1px 1px 0px rgba(138,138,138,1);*/
}
.articulo_desc{
	padding-top: 10px;
	padding-left: 5px;
}
.art_prec{
	text-align: right;
}
.art_desc{
	line-height:120%;
	/*text-transform: lowercase;*/
}

.img_art{
	width: 120px;
	height: 120px;
	border-radius: 5px;
	border: solid 1px white;
}
.cont_imagen_articulo{
	text-align: right;
	padding-left: 0px;
	padding-right: 0px;
}
.img_art2{
	width: 150px;
	height: 150px;
	border-radius: 5px;
	border: solid 1px white;
}
.contenedor_banner{
	background-color: #F7F7F7;
}
.img_banner{
	padding-top:5px;
	padding-bottom:5px;
}
.input_orden{
	text-align: center; 
	font-size: 20px;
}
.ord_menos,.ord_mas{
	width: 60px;
}
.input_orden{
	height: 38px;
}
.mini_burbuja{
	position: absolute;
	top:-5px;
	right:5px;
	padding: 3px 8px 3px 8px;
	/*background-color: #66cc00;*/
	background-color: red;
	font-weight: bold;
	color:white;
	border-radius: 20px;
}
.regresar_banner{
	padding-right: 0px;
	color: gray;
	text-align: right;
}
.mini_burbuja_notificaciones{
	padding: 3px 8px 3px 8px !important;
	/*background-color: #84B51B;*/
	background-color: red;
	font-weight: bold;
	color:white;
	border-radius: 10px;
}
.menu_lateral_izq{
	position: absolute;
	top:0px;
	left:0px;
	background-color:white;
	width: 80%;
	height: 100vh;
	z-index: 3;
}
.menu_lateral_cliente{
	padding-top:20px;
	padding-left: 10px; 
	color:white;
	background-color:#5AAD63;
}
.menu_lateral_cliente i{
	position:absolute;
	top:20px;
}
.datos_cliente{
	margin-left: 60px;
	padding-bottom: 20px;
}
.sombra_menu{
	position: absolute;
	top:0px;
	left:0px;
	background-color:black;
	opacity:.5;
	width: 100%;
	height: 100vh;
	z-index: 2;
}
.menu_lateral_der{
	position: absolute;
	top:0px;
	right:0px;
	background-color:white;
	width: 80%;
	height: 100vh;
	z-index: 3;
}
.opcion_menu{
	width: 100%;
	padding-top: 15px;
	padding-left: 25px;
	padding-bottom: 15px;
}
.opcion_menu i{
	width: 35px;
	text-align: center
}
.opcion_menu span{
	padding-left: 15px;
}
.menu_lateral_carrito{
	height: 10vh;
	padding:10px;
	color:white;
	background-color:#5AAD63;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
}
.status_pedido{
	width: 100% !important;
}
.status_pedido_row div{
	padding: 5px;
	text-align: center;
	font-weight: bold;
}
.menu_lateral_carrito h3{
	font-size: 20px;
	color: white;
}
.contenido_carrito{
	border: solid 1px #DEDEDE;
	height: 75vh;
	overflow-y: auto;
	padding-top: 10px;
}
.div_procesar_pedido{
	text-align: center;
	font-weight: bold;
	height: 15vh;
	padding: 10px;
}
.alerta_multiusos{
	position: absolute;
	width: 95%;
	padding:10px;
	bottom: 10px;
	border-radius: 5px;
	background-color: black;
	color:white;
	text-align: center;
}
.ico_asado{
	color: #A60000;
}
.carrito_vacio{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-top: 40px;
}
.articulo_carrito{
	color: black;
	padding-top: 7px;
	padding-bottom: 7px;
	border-top: solid 1px #DEDEDE;
	font-size: 14px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.articulo_carrito_pedido{
	padding-top: 7px;
	padding-bottom: 7px;
	border-top: solid 1px #DEDEDE;
	font-size: 12px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.articulo_carrito div{
	padding: 0px;
}
.car_cantidad{
	text-align: center;
}
.car_desc{
	text-align: left;
}
.car_importe{
	padding-left: 0px;
	padding-right: 5px !important;
	text-align: right;
}
.nav-tabs a{
	color: white;
	background-color: #A60000;
}
.btn_agragar{
	padding-top: 0px;
	padding-bottom: 0px;
}
.art_um{
	color: gray;
}
.tab-pane{
	padding-top: 10px;
}
.pedido_row,.notificacion_row{
	border: solid 1px #DEDEDE;
	border-radius: 8px;
    box-shadow: 1px 1px 1px 0px rgba(138,138,138,1);
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.small_pedido, 
.resumen_pedido,
.small_notificacion,
.resumen_notificacion,
.contenido_notificacion{
	font-size: 12px;
}
.pedido_tot{
	text-align: center;
}
.contenido_pedido{
	height: 300px;
	overflow-y: auto;
}
.pedido_radio{
	padding-top: 5px;
	text-align: center
}
.pedido_radio input{
	box-shadow:none;
}
.car_desc{
	padding-right: 5px;
}
.resumen_pedido,
.resumen_notificacion,.contenido_notificacion{
	padding: 10px;
}
.contenido_notificacion{
	text-align: justify;
}
.resumen_pedido table tr td{
	padding-top: 10px;
	padding-right: 12px;
}
.resumen_notificacion table tr td{
	padding-top: 10px;
	padding-right: 12px;
}
.contenedor_ayuda{
	text-align: center;
}
.contenedor_pedido{
	height: 80vh;
}
.contenedor_pedido_btn{
	height: 5vh;
	z-index: 100;
}
.contenedor_pedido_btn button{
	opacity: 1;
}
.contenedor_pedido_btn button{
	width: 100%;
	height: 100%;
}
.aprox{
	text-align: justify;
	padding-top: 5px;
	font-size: 14px;
}
.contenedor_resumen_pedido{
	border-radius: 8px;
	border:solid 1px #DEDEDE;
	height: 50vh; 
	overflow-y: auto;
	z-index: 1;
}
.li_paso{
	width: 33%; 
	text-align: center;
	font-weight: bold;
}
.tiendas_mapa{
	width: 100%; 
	height: 300px
}

