.slash{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}
.slash img{
	width: 60%;
}
.menu_bar{
	background-color: #A60000; 
	padding: 10px;
	height: 10vh;
	color: white;
	display: flex;
    align-items: center;
    justify-content: center;
}
.tabla_paso_3 tr td{
	font-size: 12px;
	padding: 0px !important;
}
.titulo_emergente{
	font-size: 20px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.contenido_emergente{
	height: 90vh;
	padding: 10px;
	overflow-y: auto;
}
.menu_buscar{
	height: 10vh;
	padding-top: 10px;
}
.menu_dep{
	height: 15vh; 
	overflow-x: auto;
}
.row,body{
	width: 100%; 
	margin: 0px;
}
.btn{
	width: 100%;
}
.form-control{
	border-radius: 0px;
}
/* SEARCH */
.fa-search {
	position: absolute;
	top: 9px;
	margin-left: 26px;
    right: initial;
    left: 0;
    color: black;
}
.input_search {
    padding-left: 34px;
}
.tabla_menu td{
	width: 100%;
	text-align:center;
	padding: 5px;
}
.descripcion_modal{
	padding-top: 10px;
	font-weight: bold;
}
.img_dep{
	border-radius:0px;
	/*border:solid 3px;*/
	max-width: 100px;
	padding: 3px;
}
.img_dep img{
	-webkit-filter: invert(100%);
    filter: invert(100%);
	height: 12vh;
}

.dep_001{background-color: #FF9700; /*naranja*/}
.dep_002{background-color: #D00000 /*rojo*/}
.dep_005{background-color: #209800; /*verde*/}
.dep_01{background-color: #0049CA; /*amarillo*/}
.dep_007{background-color: #000000; /*azul*/}
.row_articulo{
	padding-left: 6px;
	padding-right: 6px;
}
#contenedor_articulos{
	height: 65vh; 
	width: 100%; 
	overflow-y: auto;
}
.articulo{
	border-radius: 0px;
	border:solid 1px;
	border-color: #DEDEDE;
	margin-bottom: 5px;
	padding: 5px;
}
.art_prec{
	text-align: right;
}
.art_desc{
	font-weight: bold;
}
.img_art{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	border: solid 1px white;
}
.img_art2{
	width: 120px;
	height: 120px;
	border-radius: 5px;
	border: solid 1px white;
}
.img_dep_001{background-color: red;}
.input_orden{
	text-align: center; 
	font-size: 20px;
}
.ord_menos,.ord_mas{
	width: 60px;
}
.input_orden{
	height: 38px;
}
.mini_burbuja{
	position: absolute;
	top:-5px;
	right:5px;
	padding: 3px 8px 3px 8px;
	background-color: blue;
	font-weight: bold;
	color:white;
	border-radius: 20px;
}
.mini_burbuja_notificaciones{
	padding: 3px 8px 3px 8px !important;
	background-color: blue;
	font-weight: bold;
	color:white;
	border-radius: 10px;
}
.menu_lateral_izq{
	position: absolute;
	top:0px;
	left:0px;
	background-color:white;
	width: 80%;
	height: 100vh;
	z-index: 3;
}
.menu_lateral_cliente{
	padding-top:20px;
	padding-left: 10px; 
	color:white;
	background-color:#287A3B;
}
.menu_lateral_cliente i{
	position:absolute;
	top:20px;
}
.datos_cliente{
	margin-left: 60px;
	padding-bottom: 20px;
}
.sombra_menu{
	position: absolute;
	top:0px;
	left:0px;
	background-color:black;
	opacity:.5;
	width: 100%;
	height: 100vh;
	z-index: 2;
}
.menu_lateral_der{
	position: absolute;
	top:0px;
	right:0px;
	background-color:white;
	width: 80%;
	height: 100vh;
	z-index: 3;
}
.opcion_menu{
	width: 100%;
	padding-top: 15px;
	padding-left: 25px;
	padding-bottom: 15px;
}
.opcion_menu i{
	width: 35px;
	text-align: center
}
.opcion_menu span{
	padding-left: 15px;
}
.menu_lateral_carrito{
	height: 10vh;
	padding:10px;
	color:white;
	background-color:#287A3B;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
}
.contenido_carrito{
	height: 75vh;
	overflow-y: auto;
	padding-top: 10px;
}
.div_procesar_pedido{
	text-align: center;
	font-weight: bold;
	height: 15vh;
	padding: 10px;
}
.alerta_multiusos{
	position: absolute;
	width: 95%;
	padding:10px;
	bottom: 10px;
	border-radius: 5px;
	background-color: black;
	color:white;
	text-align: center;
}
.ico_asado{
	color: #A60000;
}
.carrito_vacio{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-top: 40px;
}
.articulo_carrito{
	padding-top: 7px;
	padding-bottom: 7px;
	border-top: solid 1px #DEDEDE;
	font-size: 12px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.articulo_carrito_pedido{
	padding-top: 7px;
	padding-bottom: 7px;
	border-top: solid 1px #DEDEDE;
	font-size: 12px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.articulo_carrito div{
	padding: 0px;
}
.car_cantidad{
	text-align: center;
}
.car_desc{
	text-align: left;
}
.car_importe{
	padding-left: 0px;
	padding-right: 5px !important;
	text-align: right;
}
button, a, .modal-content{
	border-radius: 0px !important;
}
.nav-tabs a{
	color: white;
	background-color: #A60000;
}
.tab-pane{
	padding-top: 10px;
}
.pedido_row,.notificacion_row{
	border: solid 1px #DEDEDE;
	display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px;
    margin-bottom: 15px;
}
.small_pedido, 
.resumen_pedido,
.small_notificacion,
.resumen_notificacion,
.contenido_notificacion{
	font-size: 12px;
}
.pedido_tot{
	text-align: right;
}
.contenido_pedido{
	height: 300px;
	overflow-y: auto;
}
.pedido_radio{
	padding-top: 15px;
	text-align: center
}
.pedido_radio input{
	box-shadow:none;
}
.car_desc{
	padding-right: 5px;
}
.resumen_pedido,
.resumen_notificacion,.contenido_notificacion{
	padding: 10px;
}
.contenido_notificacion{
	text-align: justify;
}
.resumen_pedido table tr td{
	padding-top: 10px;
	padding-right: 12px;
}
.resumen_notificacion table tr td{
	padding-top: 10px;
	padding-right: 12px;
}
.contenedor_ayuda{
	text-align: center;
}
.contenedor_pedido{
	height: 80vh;
}
.contenedor_pedido_btn{
	height: 5vh;
}
.contenedor_pedido_btn button{
	width: 100%;
	height: 100%;
}
.aprox{
	padding-top: 20px;
	font-size: 10px;
}